include AUTHORS.rst
include CHANGELOG.rst
include CODE_OF_CONDUCT.rst
include CONTRIBUTING.rst
include LICENSE.tst
include README.rst

recursive-include docs *

recursive-include src/covid-model-deaths *.py
recursive-include tests *.py *.csv
